<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    ">

<!--     <context:component-scan base-package="com.jd.coo.backbone"/> -->
<!--     <mvc:annotation-driven /> -->

	<!-- 启用spring mvc 注解 -->
    <context:annotation-config />

    <!-- 设置使用注解的类所在的jar包 -->
    <context:component-scan base-package="com.jd.ao1.web">
    	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    	<property name="messageConverters">
	        <list>
	            <ref bean="mappingJacksonHttpMessageConverter"/>
	        </list>
    	</property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
	    <property name="supportedMediaTypes">
	        <list>
	            <value>text/html;charset=UTF-8</value>
	        </list>
	    </property>
	</bean>
    
<!--     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!--         <property name="exceptionMappings"> -->
<!--             <props> -->
<!--                 <prop key="java.lang.Exception">/errors/error</prop> -->
<!--                 <prop key="java.lang.Throwable">/errors/err</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--         <property name="statusCodes"> -->
<!--             <props> -->
<!--                 <prop key="errors/error">500</prop> -->
<!--                 <prop key="errors/404">404</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--         <property name="warnLogCategory" value="WARN"/> -->
<!--         <property name="defaultErrorView" value="errors/error"/> -->
<!--         <property name="defaultStatusCode" value="500"/> -->
<!--     </bean> -->

    <!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp"/>

</beans>




